extends index

block articles

  - var articles = data;
  div#alrticles-list
    h2 All articles
    for article in articles
      div.article
        dic.card
            h4=article.title
            p=article.text
            img(src=article.displayImage)
            input(class="delete-btn" type="button", value="delete", data-id=article.id )
            input(class="show-edit-btn" type="button", value="edit")

        form(class="edit-form" name="edit-article")
          div.input
              span.label Title
              input(class="title" type="text", name="title" value=article.title)
          div.input
              span.label Description
              textarea(class="text" name="text", cols="40", rows="5" )=article.text

          div.actions
              input(class="cancel-btn" type="button", value="cancel")
              input(class="edit-btn" type="button", value="save", data-id=article.id)